/*body {*/
/*  display: flex;*/
/*  flex: 1;*/
/*  height: 100%;*/
/*}*/
/*!*.footer {*!*/
/*!*    width: 100%;*!*/
/*!*    margin: 0;*!*/
/*!*    bottom: 0;*!*/
/*!*    position: fixed;*!*/
/*!*}*!*/



.resultsSlider {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 107px;
    font-size: 18px;
    line-height: 22px;
    border: 2px solid #029491;
    border-radius: 10px;
}

.resultsSlider .swiper-slide.loading {
    width: 85% !important;
}

.resultsSlider .swiper-slide.loading div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}

.resultsSlider .swiper-slide.loading img {
    width: 50px;
    height: 50px;
    margin-bottom: 11px;
    animation: loading 2s linear infinite;
}

.resultsSlider .swiper-wrapper {
    height: 158px;
}

.resultsSlider .swiper-slide {
    width: 137px !important;
}

.resultsSlider .swiper-slide:first-child {
    background: #029491;
    border: none;
    width: 133px !important;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    border-radius: 10px 0 0 10px;
}

.resultsSlider .slide {
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgba(148, 148, 148, 0.4);
    text-align: center;
    margin-top: 18px;
}

.resultsSlider .slide td:nth-child(2) {
    margin-top: 29px;
}

.resultsSlider .slide td:nth-child(3) {
    margin-top: 23px;
}

.relative-wrapper {
    position: relative;
}

.relative-wrapper .custom-button-prev,
.relative-wrapper .custom-button-next {
    width: 39px;
    height: 39px;
    cursor: pointer;
    position: absolute;
    top: 42%;
    z-index: 1;
}

.relative-wrapper .custom-button-prev {
    left: -10px;
}

.relative-wrapper .custom-button-next {
    right: -10px;
    transform: rotate(180deg);
}

@keyframes loading {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 900px) {
    .resultsSlider .swiper-slide.loading {
        width: 75% !important;
    }
}

@media (max-width: 700px) {
    .resultsSlider .swiper-slide.loading {
        width: 65% !important;
    }
}

@media (max-width: 645px) {
    .resultsSlider {
        margin-bottom: 57px;
    }
}

@media (max-width: 550px) {
    .resultsSlider .swiper-slide.loading {
        width: 60% !important;
    }
}

@media (max-width: 470px) {
    .resultsSlider .swiper-slide.loading {
        width: 55% !important;
        text-align: center;
    }
}

@media (max-width: 405px) {
    .relative-wrapper {
        display: none;
    }
}