.tariffsblock {
    padding-bottom: 118px;
}

.tariffsblock .title {
    margin-bottom: 70px;
}

.tariffsblock .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 37px;
}

@media (max-width: 425px) {
    .tariffsblock .title {
        margin-bottom: 37px;
    }
}

@media (max-width: 1360px) {
    .tariffsblock .cards {
        gap: 35px;
    }
}

@media (max-width: 1355px) {
    .tariffsblock .cards {
        gap: 30px;
    }
}

@media (max-width: 1350px) {
    .tariffsblock .cards {
        gap: 25px;
    }
}

@media (max-width: 1335px) {
    .tariffsblock .cards {
        gap: 20px;
    }
}

@media (max-width: 1325px) {
    .tariffsblock .cards {
        gap: 15px;
    }
}

@media (max-width: 1315px) {
    .tariffsblock .cards {
        gap: 10px;
    }
}

@media (max-width: 1305px) {
    .tariffsblock .cards {
        gap: 5px;
    }
}

@media (max-width: 1295px) {
    .tariffsblock .cards {
        justify-content: center;
        gap: 43px;
    }
}

@media (max-width: 430px) {
    .tariffsblock {
        padding-bottom: 43px;
    }

    .tariffsblock .title {
        margin-bottom: 37px;
    }

    .card:last-child {
        height: 472px;
    }
}